<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hossam.quizzapp_o32">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/license"
        android:label="@string/app_name"
        android:roundIcon="@drawable/license"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizzApp_O32">
        <activity
            android:name=".splash_screen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Score"
            android:exported="false" />
        <activity
            android:name=".Quizz_4"
            android:exported="false" />
        <activity
            android:name=".Quizz_3"
            android:exported="false" />
        <activity
            android:name=".Quizz_2"
            android:exported="false" />
        <activity
            android:name=".Quizz_1"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>